{% extends "base.html" %}

{% block content %}

<div class="row" style="margin-bottom: 1em;">
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
			<div class="card" style="background-color: yellow;">
				<div class="card-body">
					<a href="https://www.google.com/" class="btn btn-primary btn-block" role="button" >Order</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="background-color: yellow;">
				<div class="card-body">
					<a href="#" class="btn btn-primary btn-block" role="button">Bills</a>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
			<div class="card" style="background-color: yellow;">
				<div class="card-body">
					<a href="#"" class="btn btn-primary btn-block" role="button">Company</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="background-color: yellow;">
				<div class="card-body">
					<a href="#"" class="btn btn-primary btn-block" role="button">Product</a>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>

	</div>

{% endblock %}