{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-2 card">
        <h5 class="card-body">Filter By:</h5>
    </div>
	<div class="col-md-3 card">
		<div class="dropdown card-body">
			<button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
				Company name
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item">Sigma</a>
				<a class="dropdown-item">Vision</a>
				<a class="dropdown-item">Company 3</a>
				<a class="dropdown-item">Company 4</a>
			</div>
		</div>
	</div>
	<div class="col-md-2 card">
		<div class="dropdown card-body">
			<button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
				Status
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item">In Progress</a>
				<a class="dropdown-item">Billable</a>
				<a class="dropdown-item">Billed</a>
			</div>
		</div>

	</div>
	<div class="col-md-2 card">
		<div class="dropdown card-body">
			<button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
				Month
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item">Jan</a>
				<a class="dropdown-item">Feb</a>
				<a class="dropdown-item">March</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="background-color: yellow;">
			<div class="card-body">
				<a href="{% url 'bills:createBills' %}" class="btn btn-primary btn-block" role="button">Create Bill</a>
			</div>
		</div>
	</div>
	</div>
	<div class="row" style="margin-top: 4em" >
		<div class="col-md-12">
			<table class="table table-striped table-responsive table-bordered">
				<thead>
					<th>Sr.no</th>
					<th>Bill no</th>
	    			<th>Company</th>
					<th>Order Id</th>
					<th>Billed Date</th>
					<th>Created by</th>
					<th>Amount</th>
					<th>Status</th>
					<th>Edit</th>
				</thead>
		    	<tbody>
                    {% for bill in billsList %}
					<tr>
			    		<td>{{ forloop.counter }}</td>
						<td>{{ bill.billNumber }}</td>
						<td>{{ bill.compName }}</td>
						<td>
						    <ul>
				    		    <li><a href="#">{{ bill.orderId }}</a></li>

						    </ul>
                        </td>
						<td>{{ bill.billDate }}</td>
						<td>{{ bill.createdBy }}</td>
						<td>{{ bill.billAmount }}</td>
						<td>{{ bill.billStatus }}</td>
						<td>
							<a href="billDetail.html">
								<span class="fa fa-pencil"></span>
							</a>
						</td>
                    </tr>
                    {% endfor %}
				</tbody>
			</table>
        </div>
    </div>

{% endblock %}